.welcome-message {
  padding-top: 4vw;
  padding-left: 30%;
  padding-right: 15%;
  font-size: 3vw;
  font-weight: bold;
  position: absolute;
  color: rgba(23, 22, 22, 0.824)
}

.splash-under-message {
  text-align: center;
  bottom: 25vw;
  left: 50%;
  position: absolute;
  font-size: 3vw;
  font-weight: bold;
  transform: translate(-50%, -50%);
}
