// what is rebond 

.about-general-title {
    font-weight: bolder;
    padding: 20px 0px;
};

.about-general-container {
    @extend .container, .row, .center;
};

.about-general-part {
    @extend .col, .l8, .m10, .offset-l2, .offset-m1;
    text-align: justify;
};

// meet the team

.about-team-title {
    font-weight: bolder;
    padding: 20px 0px;
};

.about-team-container {
    @extend .center, .container;
};

.about-engineer-row {
    @extend .row, .center;
    padding: 0px 20px;
};

.about-engineer-intro {
    @extend .col, .center, .l6, .m12;
};

.about-engineer-intro > img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin: 30px 0 0 0;
};

.about-engineer-intro p {
    padding: 10px 30px;
    text-align: justify;
};

.about-engineer-icons {
    @extend .row
};

.about-engineer-icons img {
    height: 50px;
    width: 50px;
    margin: 0px 20px;
};

