.session-form-title {
    @extend .center;
    padding-top: 30px;
}

.session-form-input-holder {
    @extend .input-field, .col, .s8, .m6, .l4, .offset-l4, .offset-m3, .offset-s2;
    margin: 0px;
}

.session-form-buttons-holder {
    @extend .input-field, .col, .s8, .m6, .l4, .offset-l4, .offset-m3, .offset-s2;
    display: flex;
    justify-content: space-around;
}

.session-form-button {
    @extend .btn
}