.navbar-wrapper {
    @extend .nav-wrapper;
    padding: 0 30px;
}

.navbar-session-button-holder {
    @extend .right;
}

.navbar-session-button {
    @extend .btn, .small;
}

.navbar-brand-logo {
    @extend .brand-logo, .left;
    left: 0%;
    margin-left: 20px;
}

