.user-profile-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0 5rem 0;
}

.user-profile-holder button {
  width: 50%;
}

.profile-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7rem;
  height: 7rem;
  margin: 1rem auto;
  border-radius: 50%;
  border: 2px solid $custom-border-color;
  overflow: hidden;
}

.profile-picture > i {
  font-size: 13rem;
  color: $primary-color;
}

.user-profile-name {
  @extend .center;
}

// User Edit Form

.user-edit-form-title {
  // @extend .center;
  // padding-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.user-edit-form-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 80px;
  border-radius: 40px;
  overflow: hidden;
}

.user-edit-form-title img {
  height: 80px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.user-edit-form-title i {
  font-size: 60px !important;
}

.user-edit-form-input {
  @extend .input-field, .col, .s8, .m6, .l6, .offset-l3, .offset-m3, .offset-s2;
}

