.group-session-title {
  @extend .center;
}

// .group-session-input-holder {
// }

.group-session-button-holder {
  display: flex;
  justify-content: space-around;
}

.group-session-button {
  @extend .btn;
}

.group-index-holder {
  max-height: 70vh;
  overflow: auto;
}

.group-name-holder {
  width: 100%;
}

.collapsible-header h6 {
  text-align: center;
}
