.splash-page {
  //approach 1: cannot get image to display this way
  // background: url("/images/splash_background.jpeg") no-repeat center center
  //   fixed;
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
  // background-size: cover;

  //approach 2: this works REALLY well, just need to mess with top: at different breakpoints so the header is visible/no whitespace no matter its height
  // img {
  //   min-height: 100%;
  //   min-width: 1441px;
  //   width: 100%;
  //   height: auto;

  //   position: fixed;
  //   top: 50px;
  //   left: 0;
  // }

  //approach 3:
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
  }
}

.splash-image {
  // background-image: url("../../../images/splash_background.jpeg") no-repeat center center fixed;
  // height: 100px;
  // width: 100px;
  // height: 100%;
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;
}

.splash-main-text {
  // @extend .flow-text;
  // background-color: red;
  position: absolute;
  color: rgba(8, 8, 8, 0.788);
  // font-size: 50px;
  // font-weight: bold;
  top: 140px;
  margin-left: auto;
  margin-right: auto;
  left: 40px;
  right: 40px;
  text-align: center;
  // z-index: 999;
}

.splash-main-text h2 {
  font-size: 50px;
  font-weight: bold;
}

.splash-main-text p {
  font-size: 30px;
  font-weight: bold;
}