.interest-container.one-column {
  .card.horizontal {
    // @extend .blue-grey, .darken-1;
    max-height: 224px;
    .card-image {
      max-height: 224px;
      max-width: 224px;
      i {
        // object-fit: cover;
        // height: 100%;
      }
      > img {
        // object-fit: cover;
        // height: 100%;
      }
      .card-title {
        text-shadow: 2px 2px 2px rgb(58, 58, 58);
      }
    }
  }
}

.interest-container.two-column {
  .card {
    // @extend .blue-grey, .darken-1;
    // height: 7rem;
    .card-image {
      // height: 7rem;

      i {
        // object-fit: cover;
        // height: 100%;
      }
      > img {
        // object-fit: cover;
        // height: 100%;
      }
      .card-title {
        text-shadow: 2px 2px 2px rgb(58, 58, 58);
      }
    }
  }
}

.interest-content {
  // @extend .card-content, .white-text;
}

.interest-title {
  // @extend .card-title;
}

.interest-reveal {
  // @extend .card-reveal;
}

.interest-action {
  position: absolute;
  z-index: 2;
}

.default-interest-icon {
  @extend .blue, .lighten-4;
  display: flex;
  justify-content: center;
  align-items: center;
  // height: 7rem;
}

.default-interest-icon > i {
  padding: 6rem;
}

.interest-action-buttons {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.interest-owner-action {
  @extend .btn;
  border-radius: 50%;
  height: 2.5rem;
  width: 2.5rem;
  margin: 0.667rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

// interest create

.interest-create-input-holder {
  @extend .input-field;
}

.interest-create-title {
  padding-bottom: 20px;
}

.interest-create-content {
  // @extend .card-content, .white-text;
}

.interest-create-container {
  // @extend .card, .blue-grey, .darken-1;
}

.interest-create-button {
  @extend .btn;
}
