// These are needed to keep the footer down

.custom-body {
  position: relative;
  min-height: 100vh;
  @extend .blue-grey, .lighten-5;
  header {
    position: relative;
    z-index: 1;
  }
}

.custom-main {
  padding-bottom: 2.5rem;
  // background-color: yellowgreen;
}

.main-container {
  @extend .row;
  max-width: 1441px;
}

.main-left-container {
  @extend .col, .s10, .m8, .l4, .offset-s1, .offset-m2, .offset-l1;
}

.main-right-container {
  @extend .col, .s10, .m8, .l5, .offset-s1, .offset-m2, .offset-l1;
  // max-height: 50vh;
}

.two-column {
  @extend .col, .s12, .m6, .l6;
}

.one-column {
  @extend .col, .s12, .m12, .l12;
}

// dashboard

.profile-dashboard-holder {
  @extend .center;
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.profile-dashboard-holder i {
  font-size: 40px;
  margin: 0 10px;
}

.profile-dashboard-icon {
  @extend .material-icons;
}

.add-interest-button-holder {
  @extend .center;
  margin: 40px 0;
}

.add-interest-button-holder i {
  font-size: 50px;
}

.feature-discovery-trigger {
  bottom: 90px;
  right: 50px;
}

.loader {
position: absolute;
top :0;
left: 0;
right: 0;
bottom: 0;
margin: auto;
}