.interest-container.one-column {
  .card.horizontal {
    // @extend .blue-grey, .darken-1;
    height: 174px;
    .card-image {
      height: 174px;
      width: 174px;
      i {
        // object-fit: cover;
        // height: 100%;
      }
      > img {
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
      .card-title {
        text-shadow: 2px 2px 2px rgb(58, 58, 58);
      }
    }
  }
}

.interest-container.two-column {
  .card {
    // @extend .blue-grey, .darken-1;
    // height: 7rem;
    .card-image {
      // height: 7rem;
      height: 174px;
      i {
        // object-fit: cover;
        // height: 100%;
      }
      > img {
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
      .card-title {
        text-shadow: 2px 2px 2px rgb(58, 58, 58);
      }
    }
  }
}

.interest-content {
  // @extend .card-content, .white-text;
}

.interest-title {
  // @extend .card-title;
}

.interest-reveal {
  // @extend .card-reveal;
}

.interest-action {
  @extend .btn;
  background-color: transparent;
  box-shadow: none;
  height: 32px;
  padding: 0 5px;

  i {
    color: $primary-color-dark;
    background-color: white;
    font-size: 24px;
  }
}

.interest-action:hover {
  box-shadow: none;
  background-color: transparent;
}

.default-interest-icon {
  @extend .blue, .lighten-4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.default-interest-icon > i {
  padding: 4rem;
}

.interest-action-buttons {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.interest-owner-action {
  @extend .btn;
  border-radius: 50%;
  height: 2.5rem;
  width: 2.5rem;
  margin: 0.667rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexed {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.interest-card-category {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 6px 0;
}

// interest create

.interest-create-input-holder {
  @extend .input-field;
}

.interest-create-title {
  padding-bottom: 15px;
}

.interest-create-content {
  // @extend .card-content, .white-text;
}

.interest-create-container {
  padding: 10px 20px;
}

.interest-create-button {
  @extend .btn;
}
