// These are needed to keep the footer down

.custom-body {
    position: relative;
    min-height: 100vh;
}

.custom-main {
    padding-bottom: 2.5rem;
}

//


.main-left-container {
    @extend .col, .l6, .s12;
}

.main-right-container {
    @extend .col, .l6, .s12;
}

.two-column {
    @extend .col, .s12, .m6, .l6;
}

.one-column {
    @extend .col, .s12, .m12, .l12;
}

// interest feed

.interest-container.two-column .interest-content {
    height: 150px;
}

.interest-holder {
    @extend .card, .blue-grey, .darken-1;
}

.interest-content {
    @extend .card-content, .white-text;
}

.interest-title {
    @extend .card-title;
}

.interest-action {
    @extend .btn-floating, .halfway-fab, .waves-light, .teal;
    position: absolute;
}

.default-interest-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 200px;
}

.default-interest-icon > i {
    font-size: 60px;
    padding: 75px;
}

.interest-action-buttons {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.interest-owner-action {
    @extend .btn;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

// interest create

.interest-create-input-holder {
    @extend .input-field;
}

.interest-create-title {
    @extend .card-title;
}

.interest-create-content {
    @extend .card-content, .white-text;
}

.interest-create-container {
    @extend .card, .blue-grey, .darken-1;
}

.interest-create-button {
    @extend .btn;
}

// group session = group create & group join

.group-session-title {
    @extend .center;
}

.group-session-input-holder {

}

.group-session-button-holder {
    display: flex;
    justify-content: space-around;
}

.group-session-button {
    @extend .btn;
}