.event-form-content .row {
  margin-bottom: 10px;
}

.event-form-input-holder {
  margin: 5px 0px;
}

.event-create-form-container {
  margin: 50px;
}

.component-header {
  font-size: 3rem;
  color: $custom-text-color;
}

.button-with-icon {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 10px 0;
}

.button-with-icon > i {
  margin-right: 5px;
}

.event-list-holder {
  @extend .row;
}

.event-list-holder-col {
  @extend .col, .s12;
}

.event-list-element a {
  @extend .tab, .col, .s3;
}

.event-list-card {
  @extend .blue, .lighten-5, .card-panel;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.event-list-card > h3 {
  font-size: 24px;
  margin: 0;
}

.event-list-card > p {
  margin: 10px 0;
}

.event-card-cta-holder {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.event-card-cta-holder > p {
  margin: 0;
}

.event-list-name-holder i {
  background-color: yellow;
  top: 4px;
}

.carousel {
  overflow-y: scroll;
  overflow-x: hidden;
}